boto3>=1.30,<2
boto3-stubs-lite[s3]>=1.30,<2
cachetools>=5.3,<6
click>=8.1,<9
dependency-injector>=4.46,<5
moto[s3]>=5.0,<6
mypy-boto3-s3>=1.30,<2
parent-import>=0.0.1
python-dotenv>=1.0,<2
python-json-logger>=3.2,<4
python_sqlite_log_handler>=1.0,<2
PyYAML>=6.0,<7
redis>=5.2,<7
requests>=2.32,<3
rq>=1.16,<3
schedule>=1.2,<2
sqlalchemy>=2.0,<3
