cachetools>=5.3,<6
click>=8.1,<9
dependency-injector>=4.44,<5
parent-import>=0.0.1
pipenv>=2024.4.0
python-dotenv>=1.0,<2
python-json-logger>=2.0,<3
PyYAML>=6.0,<7
redis>=5.2,<6
rq>=1.16,<2
schedule>=1.2,<2
sqlalchemy>=2.0,<3
