cachier==1.5.4
coverage==6.3.2
dependency-injector==4.38.0
Faker==13.3.0
html2text==2020.1.16
icecream==2.1.2
jinja-markdown==1.210911
Jinja2==3.0.3
moto[all]==3.0.5
parent-import==0.0.1
premailer==3.10.0
py_dto==0.4.0
python-dotenv==0.19.2
python-optional==1.1.0
schedule==1.1.0
