name: publish

on: push

jobs:
  publish:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Run tests
        run: |
          git fetch --all --prune
          sudo apt-get install libgeos-dev -y
          export PROJECT_PATH=$(pwd)
          echo $PROJECT_PATH
          ls -lahrt ${PROJECT_PATH}
          python -m pip install --upgrade pip
          pip install coverage runtype wheel twine setuptools
          cd ${PROJECT_PATH}/equipment/framework && pip install -r requirements.txt
          cd ${PROJECT_PATH}/equipment/console && pip install -r requirements.txt
          cd ${PROJECT_PATH}/equipment/project && pip install -r requirements.txt
          cd ${PROJECT_PATH} && python -m unittest discover -s equipment/project/
          cd ${PROJECT_PATH} && coverage run -m unittest discover -p '**Test.py'
          cd ${PROJECT_PATH} && coverage xml -i
          sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Publish release
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          sudo apt-get install libgeos-dev -y
          python -m pip install --upgrade pip
          python -m pip install --user wheel twine setuptools -U
          rm -rf dist
          rm -rf build
          echo 'Current version:'
          echo ${{ steps.get_version.outputs.VERSION }}
          sed -ri -e 's!CURRENT_VERSION!${{ steps.get_version.outputs.VERSION }}!g' setup.py
          sed -ri -e 's!-e ../../!equipment==${{ steps.get_version.outputs.VERSION }}!g' equipment/project/requirements.txt
          cat setup.py
          cat equipment/project/requirements.txt
          python setup.py sdist bdist_wheel
          twine check dist/*
          twine upload dist/*
